<< bootstrap.ascii_art.universe_name >> <# only variables in arrow brackets will be parsed by the bootstrapper #>

{{ slingring.universe_name }} Slingring Universe
Version: {{ slingring.universe_version }}
Last update: {{ slingring.current_date }}


